/* 
colours
#2B2A4C purple
#750E21 red
#EA906C peach
#EEE2DE white
*/

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #2B2A4C;
  background: linear-gradient(to right, #2B2A4C 30%, #750E21 70%);
  /* padding-top: 10px; */
}

.container {
  width: 80%;
  max-width: 1200px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5rem; /* Adjust the margin as needed */
  justify-content: center;
  text-align: center;
}

.profile-pic {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 2px solid #EA906C;
  box-shadow: 0 0 0 15px #750E21(246, 243, 243, 0.06);
  margin-top: 20px;
}

.profile-pic-container {
  width: 400px;
  height: 400px;
  margin-top: 20px;
}

.profile-pic:hover {
  box-shadow: 0 0 0 15px rgba(246, 243, 243, 0.06);
}

.profile-text {
  max-width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.navbar-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-bottom: 4px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  color: #EA906C;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}


h1,
h2,
h3 {
  color: #fff;
}

p {
  color: #ccc;
}

.custom-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #750E21;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 1;
  background: linear-gradient(to right, #2B2A4C 25%, #EA906C 75%);
}

.profile-intro{
  color: #EEE2DE;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Michroma; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 700;  } 
  
p { 
  font-family: Michroma; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 25px; 
  } 

#intro,
#about,
#hobbies,
#professional {
  text-align: center;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: #ccc;
}
